<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
                     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Référence vers les méthodes stubs 
	<import resource="classpath*:/WEB-INF/stubContactContext.xml" />
    R-Try import 
 
   -->

	<!-- Data source déduite du hibernate config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/CODEL" />
		<property name="username" value="root" />
		<property name="password" value="motdepasse" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- retrieve conf from cfg: http://stackoverflow.com/questions/471799/spring-and-hibernate-cfg-xml -->
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" timeout="-1" />
			<tx:method name="sav*" propagation="REQUIRED" read-only="false" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="create*" read-only="false" />
			<tx:method name="add*" read-only="false" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* codel.as.dao.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<!-- TODO restore aspect <aop:config> <aop:advisor pointcut="execution(* 
		dao.*.*(..))" advice-ref="txAdvice" /> <aop:aspect id="ContactLoggerBean" 
		ref="ContactLogger"> <aop:before pointcut="execution(* codel.as.dao.IDAOContact.addContact(String,String,*,*,*,*)) 
		and args(firstname,lastname,*,*,*,*)" method="log" arg-names="firstname,lastname" 
		/> </aop:aspect> </aop:config> -->
	<bean id="ContactLogger" class="codel.as.aspect.ContactLogger" />

	<!-- Service implem -->
	<bean id="ContactService" class="codel.as.service.ContactService"
		scope="singleton">
		<constructor-arg ref="DAOContact" />
	</bean>
	
	
	

	<!-- **  Dao Implems ** -->

	<bean id="DAOContact" class="codel.as.dao.hibernate.DAOContact"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
		<!-- Session factory pour les templates!! -->
		<constructor-arg>
			<ref bean="DAOContactGroup" />
		</constructor-arg>
	</bean>

	<bean id="DAOContactGroup" class="codel.as.dao.hibernate.DAOContactGroup"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<!-- ** Fichier de définitions des contacts subs, prépeuplant la base **-->

	<bean id="Address" class="codel.as.domain.Address" scope="prototype">
		<property name="street" value="4 rue Jussieu" />
		<property name="city" value="Paris" />
		<property name="zip" value="75006" />
		<property name="country" value="Paris" />
	</bean>

	<bean id="PhoneNumber" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="home" />
		<property name="phoneNumber" value="07070707" />
	</bean>

	<bean id="ContactGroup" class="codel.as.domain.ContactGroup" scope="prototype">
		<property name="contacts">
			<set></set>
		</property>
	</bean>

	<bean id="ContactSetter" class="codel.as.domain.Contact" scope="prototype">
		<property name="firstname" value="Titi" />
		<property name="lastname" value="Tutu" />
		<property name="email" value="titi@tatat.tutu" />
		<property name="address">
			<ref bean="Address" />
		</property>
	</bean>

	<bean id="ContactConstrNoArgs" class="codel.as.domain.Contact" scope="prototype"></bean>
	<!-- check -->

	<bean id="ContactConstrWithArgs" class="codel.as.domain.Contact" scope="prototype">
		<constructor-arg type="long">
			<value>0</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>Jean</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>Charlie</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>alo.bean@toto.cmo</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="Address" />
		</constructor-arg>
	</bean>

	<bean id="Entreprise" parent="ContactSetter" class="codel.as.domain.Entreprise"
		scope="prototype">
	</bean>


	<bean id="ContactExp1" class="codel.as.domain.Contact" scope="prototype">
		<constructor-arg type="long">
			<value>0</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>Jules</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>Juliz</value>
		</constructor-arg>
		<constructor-arg type="String">
			<value>this.ismy.name</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="AddressExp1" />
		</constructor-arg>
			<constructor-arg>
			<ref bean="ContactGroupExp1" />
		</constructor-arg>
	</bean>

	<bean id="EntrepriseExp1" class="codel.as.domain.Entreprise" scope="prototype">
		<property name="firstname" value="Hello" />
		<property name="lastname" value="Allo" />
		<property name="email" value="hello.allo@hola.es" />
		<property name="numSiret" value="123" />
		<property name="address">
			<ref bean="AddressExp2" />
		</property>
		<property name="profiles">
			<ref bean="ContactGroupExp2" />
		</property>
	</bean>

	<bean id="EntrepriseExp2" parent="ContactSetter" class="codel.as.domain.Entreprise"
		scope="prototype">
		<property name="firstname" value="L'entreprise" />
		<property name="lastname" value="JoSmith" />
		<property name="email" value="john@smith.com" />
		<property name="numSiret" value="2222" />
		<property name="address">
			<ref bean="AddressExp3" />
		</property>
		<property name="profiles">
			<ref bean="ContactGroupExp3" />
		</property>
<!-- profiles -->

	</bean>

	<bean id="AddressExp1" class="codel.as.domain.Address" scope="prototype">
		<property name="street" value="5 Place Jussieu" />
		<property name="city" value="Paris" />
		<property name="zip" value="75005" />
		<property name="country" value="France" />
	</bean>

	<bean id="AddressExp2" class="codel.as.domain.Address" scope="prototype">
		<property name="street" value="22 rue que tal" />
		<property name="city" value="Madrid" />
		<property name="zip" value="Hola33" />
		<property name="country" value="Espagne" />
	</bean>

	<bean id="AddressExp3" class="codel.as.domain.Address" scope="prototype">
		<property name="street" value="22 Toto Street" />
		<property name="city" value="Los Angeles" />
		<property name="zip" value="22442" />
		<property name="country" value="USA" />
	</bean>
	
	<!-- ** Phones -->

	<bean id="PhoneNumberExp1" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="home" />
		<property name="phoneNumber" value="01010101" />
	</bean>

	<bean id="PhoneNumberExp2" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="work" />
		<property name="phoneNumber" value="0165971256" />
	</bean>

	<bean id="PhoneNumberExp3" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile" />
		<property name="phoneNumber" value="062482323" />
	</bean>

	<bean id="PhoneNumberExp4" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="home" />
		<property name="phoneNumber" value="028080834" />
	</bean>

	<bean id="PhoneNumberExp5" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="work" />
		<property name="phoneNumber" value="02458234" />
	</bean>

	<bean id="PhoneNumberExp6" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile" />
		<property name="phoneNumber" value="07489254728" />
	</bean>

	<bean id="PhoneNumberExp7" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="home" />
		<property name="phoneNumber" value="090298271" />
	</bean>

	<bean id="PhoneNumberExp8" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="work" />
		<property name="phoneNumber" value="02803030" />
	</bean>

	<bean id="PhoneNumberExp9" class="codel.as.domain.PhoneNumber" scope="prototype">
		<property name="phoneKind" value="mobile" />
		<property name="phoneNumber" value="078387461" />
	</bean>
	
	
	<!-- CHECK -->
		<bean id="ContactGroupExp1" class="codel.as.domain.ContactGroup" scope="prototype">
		<property name="contacts">
			<set>
				<ref bean="PhoneNumberExp1" />
				<ref bean="PhoneNumberExp2" />
				<ref bean="PhoneNumberExp3" />
			</set>
		</property>
	</bean>

	<bean id="ContactGroupExp2" class="codel.as.domain.ContactGroup" scope="prototype">
		<property name="contacts">
			<set>
				<ref bean="PhoneNumberExp4" />
				<ref bean="PhoneNumberExp5" />
				<ref bean="PhoneNumberExp6" />
			</set>
		</property>
	</bean>
	
		<bean id="ContactGroupExp3" class="codel.as.domain.ContactGroup" scope="prototype">
		<property name="contacts">
			<set>
				<ref bean="PhoneNumberExp7" />
				<ref bean="PhoneNumberExp8" />
				<ref bean="PhoneNumberExp9" />
			</set>
		</property>
	</bean>

</beans>
