<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
                     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Référence vers les méthodes stubs -->
	<import resource="classpath*:/WEB-INF/stubContactContext.xml" />

	<!-- Data source déduite du hibernate config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/CODEL" />
		<property name="username" value="root" />
		<property name="password" value="motdepasse" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>domain/Contact.hbm.xml</value>
				<value>domain/Address.hbm.xml</value>
				<value>domain/PhoneNumber.hbm.xml</value>
				<value>domain/ContactGroup.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</prop>
				<prop key="hibernate.generate_statistics">true</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- TODO Check what this is -->
	<!-- <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate"> -->
	<!-- <property name="transactionManager" ref="transactionManager"/> -->
	<!-- </bean> -->

	<bean id="jmxExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="registrationBehavior" value="1" />
		<property name="beans">
			<map>
				<entry key="Hibernate:application=Statistics" value-ref="hibernateStatisticsBean" />
			</map>
		</property>
	</bean>

	<bean id="hibernateStatisticsBean" class="org.hibernate.jmx.StatisticsService">
		<property name="statisticsEnabled" value="true" />
		<property name="sessionFactory">
			<!-- Uncomment the following when using Hibernate directly -->
			<ref local="sessionFactory" />

			<!-- Uncomment the following when using Hibernate via JPA (Assuming the 
				managed EMF is named 'entityManagerFactory'. Namespace is: xmlns:util="http://www.springframework.org/schema/util") -->
			<!-- util:property-path path="entityManagerFactory.sessionFactory" / -->
		</property>
	</bean>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" timeout="-1" />
			<tx:method name="sav*" propagation="REQUIRED" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor pointcut="execution(* dao.*.*(..))"
			advice-ref="txAdvice" />
		<aop:aspect id="ContactLoggerBean" ref="ContactLogger">
			<aop:before
				pointcut="execution(* dao.IDAOContact.addContact(String,String,*,*,*,*)) and args(firstname,lastname,*,*,*,*)"
				method="log" arg-names="firstname,lastname" />
		</aop:aspect>
	</aop:config>

	<bean id="ContactLogger" class="aspect.ContactLogger" />


	<!-- Service implem -->
	<bean id="ContactService" class="service.ContactService" scope="singleton">
		<constructor-arg ref="DAOContact" />
	</bean>

	<!-- Dao Implems -->

	<bean id="DAOContact" class="dao.template.DAOContact" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
		<!-- Session factory pour les templates!! -->
	</bean>


	<bean id="DAOAddress" class="dao.template.DAOAddress" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="DAOContactGroup" class="dao.template.DAOContactGroup"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="DAOEntreprise" class="dao.template.DAOEntreprise" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="DAOPhoneNumber" class="dao.template.DAOPhoneNumber"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
