<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
                     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Référence vers les méthodes stubs -->
	<import resource="classpath*:/WEB-INF/stubContactContext.xml" />

	<!-- Data source déduite du hibernate config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/CODEL" />
		<property name="username" value="root" />
		<property name="password" value="motdepasse" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- retrieve conf from cfg: http://stackoverflow.com/questions/471799/spring-and-hibernate-cfg-xml -->
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" timeout="-1" />
			<tx:method name="sav*" propagation="REQUIRED" read-only="false" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="create*" read-only="false" />
			<tx:method name="add*" read-only="false" />
			<tx:method name="delete*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:advisor pointcut="execution(* dao.*.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<!-- TODO restore aspect <aop:config> <aop:advisor pointcut="execution(* 
		dao.*.*(..))" advice-ref="txAdvice" /> <aop:aspect id="ContactLoggerBean" 
		ref="ContactLogger"> <aop:before pointcut="execution(* codel.as.dao.IDAOContact.addContact(String,String,*,*,*,*)) 
		and args(firstname,lastname,*,*,*,*)" method="log" arg-names="firstname,lastname" 
		/> </aop:aspect> </aop:config> -->
	<bean id="ContactLogger" class="codel.as.aspect.ContactLogger" />

	<!-- Service implem -->
	<bean id="ContactService" class="codel.as.service.ContactService"
		scope="singleton">
		<constructor-arg ref="DAOContact" />
	</bean>

	<!-- Dao Implems -->

	<bean id="DAOContact" class="codel.as.dao.template.DAOContact"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
		<!-- Session factory pour les templates!! -->
		<constructor-arg>
			<ref bean="DAOPhoneNumber" />
		</constructor-arg>
		<constructor-arg>
			<ref bean="DAOContactGroup" />
		</constructor-arg>
	</bean>

	<bean id="DAOContactGroup" class="codel.as.dao.template.DAOContactGroup"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="DAOPhoneNumber" class="codel.as.dao.template.DAOPhoneNumber"
		scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>
