<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddContact</servlet-name>
		<servlet-class>servlets.AddContactServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddContact</servlet-name>
		<url-pattern>/addcontact</url-pattern>
	</servlet-mapping>
</web-app>