<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">


	<display-name>ASContacts</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	

	<!-- Listeners -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<!-- Mapping (en attendant jsf) -->
	
	<filter>  
      <filter-name>OpenSessionInViewFilter</filter-name>  
     <filter-class>  
           org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>  
       <init-param>  
            <param-name>sessionFactoryContact</param-name>  
           <param-value>sessionFactory</param-value>  
        </init-param>  
       <init-param>  
           <param-name>singleSession</param-name>  
            <param-value>true</param-value>  
       </init-param>  
       <init-param>  
            <param-name>flushMode</param-name>  
           <param-value>AUTO</param-value>  
       </init-param>  
   </filter>

	<!-- Login -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>codel.as.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>codel.as.servlets.TestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	

	<!-- Contacts -->

	<servlet>
		<servlet-name>NewContact</servlet-name>
		<servlet-class>codel.as.servlets.NewContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewContact</servlet-name>
		<url-pattern>/contact/new</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DeleteContact</servlet-name>
		<servlet-class>codel.as.servlets.DeleteContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteContact</servlet-name>
		<url-pattern>/contact/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateContact</servlet-name>
		<servlet-class>codel.as.servlets.UpdateContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateContact</servlet-name>
		<url-pattern>/contact/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchContact</servlet-name>
		<servlet-class>codel.as.servlets.SearchContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchContact</servlet-name>
		<url-pattern>/contact/search</url-pattern>
	</servlet-mapping>
</web-app>